<form [formGroup]='form'>
	<div class='mb-3'>
		<label class='inline-block mb-2'>Name</label>
		<ws-inPut type='text' placeHolder='name' [control]='form.controls.name' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>EMail</label>
		<ws-inPut type='email' placeHolder='eMail' [control]='form.controls.eMail' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>Age</label>
		<ws-inPut type='number' placeHolder='age' [control]='form.controls.age' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>PassWord</label>
		<ws-inPut type='password' placeHolder='passWord' [control]='form.controls.passWord' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>Confirm PassWord</label>
		<ws-inPut type='password' placeHolder='confirm PassWord' [control]='form.controls.confirmPassWord' />
	</div>
	<button type='submit' class='block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500'>
		Submit
	</button>
</form>