<WS-banner [colour]='bannerColour' *ngIf='showBanner'>
	{{ bannerMessage }}
</WS-banner>
<form [formGroup]='form' (ngSubmit)='submit()'>
	<div class='mb-3'>
		<label class='inline-block mb-2'>Name</label>
		<WS-inPut type='text' placeHolder='name' [control]='form.controls.name' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>EMail</label>
		<WS-inPut type='email' placeHolder='eMail' [control]='form.controls.eMail' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>Age</label>
		<WS-inPut type='number' placeHolder='age' [control]='form.controls.age' mask='' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>PassWord</label>
		<WS-inPut type='password' placeHolder='passWord' [control]='form.controls.passWord' />
	</div>
	<div class='mb-3'>
		<label class='inline-block mb-2'>ConFirm PassWord</label>
		<WS-inPut type='password' placeHolder='conFirm PassWord' [control]='form.controls.conFirmPassWord' />
	</div>
	<button type='submit' class='block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400' [disabled]='form.invalid || pending'>
		Submit
	</button>
</form>