<div class='grid grid-cols-1 lg:grid-cols-3 gap-4'>
	<a
		class='mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl background-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300'
		*ngFor='let sight of sight.sightsList'
		[routerLink]='["/", "sight", sight.documentID]'
	>
		<img [src]='sight.screenShotURL' class='card-img-top rounded-tl-2xl w-full' crossorigin />
		<div class='relative'>
			<div class='absolute pointer-events-none bottom-full w-full background-secondary text-white'>
				<div class='absolute bottom-full w-full pb-5 overflow-hidden'>
					<svg viewBox='0 0 100 50' style='transform-origin: top center; transform: scale(2);' class='absolute bottom-0 w-full h-full tranform' preserveAspectRatio='none'>
						<path d='M0 25h25L75 0h25v50H0z' fill='#283046'></path>
					</svg>
				</div>
			</div>
		</div>
		<div class='p-8'>
			<h2 class='text-3xl mb-2'>{{ sight.title }}</h2>
			<p class='mb-0'>
				{{ sight.displayName }} &#183;
				<span class='text-gray-400'>{{ sight.date }}</span>
			</p>
		</div>
	</a>
</div>