<section class='container mx-auto my-8 bg-secondary p-6'>
	<div class='rounded relative flex flex-col'>
		<h1 class='font-bold mb-2 text-3xl'>{{ ID }}</h1>
		<div class='text-gray-400 mb-6'>
			Uploaded By Joe on
			<span>July 6, 2023</span>
		</div>
		<div class='relative'>
			<video controls class='video-js vjs-theme-forest mx-auto' data-setup='{}'>
				<source src='assets/hero.webm' type='video/webm'>
			</video>
		</div>
	</div>
</section>
<div class='container mx-auto my-8'>
	<h2 class='mt-6 text-2xl'>More Sights</h2>
	<div class='grid grid-cols-1 lg:grid-cols-3 gap-4'>
		<a routerLink='/sight/8' class='mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300'>
			<img src='assets/img/1.jpg' class='card-img-top rounded-tl-2xl w-full' />
			<div class='relative'>
				<div class='absolute pointer-events-none bottom-full w-full bg-secondary text-white'>
					<div class='absolute bottom-full w-full pb-5 overflow-hidden'>
						<svg viewBox='0 0 100 50' style='transform-origin: top center; transform: scale(2);' class='absolute bottom-0 w-full h-full tranform' preserveAspectRatio='none'>
							<path d='M0 25h25L75 0h25v50H0z' fill='#283046'></path>
						</svg>
					</div>
				</div>
			</div>
			<div class='p-8'>
				<h2 class='text-3xl mb-2'>WholeSome Sight</h2>
				<p class='mb-0'>
					Joe Smith &#183;
					<span class='text-gray-400'>July 6, 2023</span>
				</p>
			</div>
		</a>
		<a href='#' class='mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300'>
			<img src='assets/img/2.jpg' class='card-img-top rounded-tl-2xl w-full' />
			<div class='relative'>
				<div class='absolute pointer-events-none bottom-full w-full bg-secondary text-white'>
					<div class='absolute bottom-full w-full pb-5 overflow-hidden'>
						<svg viewBox='0 0 100 50' style='transform-origin: top center; transform: scale(2);' class='absolute bottom-0 w-full h-full tranform' preserveAspectRatio='none'>
							<path d='M0 25h25L75 0h25v50H0z' fill='#283046'></path>
						</svg>
					</div>
				</div>
			</div>
			<div class='p-8'>
				<h2 class='text-3xl mb-2'>WholeSome Sight</h2>
				<p class='mb-0'>
					Joe Smith &#183;
					<span class='text-gray-400'>July 6, 2023</span>
				</p>
			</div>
		</a>
		<a href='#' class='mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300'>
			<img src='assets/img/3.jpg' class='card-img-top rounded-tl-2xl w-full' />
			<div class='relative'>
				<div class='absolute pointer-events-none bottom-full w-full bg-secondary text-white'>
					<div class='absolute bottom-full w-full pb-5 overflow-hidden'>
						<svg viewBox='0 0 100 50' style='transform-origin: top center; transform: scale(2);' class='absolute bottom-0 w-full h-full tranform' preserveAspectRatio='none'>
							<path d='M0 25h25L75 0h25v50H0z' fill='#283046'></path>
						</svg>
					</div>
				</div>
			</div>
			<div class='p-8'>
				<h2 class='text-3xl mb-2'>WholeSome Sight</h2>
				<p class='mb-0'>
					Joe Smith &#183;
					<span class='text-gray-400'>July 6, 2023</span>
				</p>
			</div>
		</a>
	</div>
</div>