<section class='relative overflow-hidden mb-2'>
	<video class='w-full h-full object-cover absolute z-0' autoplay loop muted>
		<source src='assets/hero.webm' type='video/webm'>
	</video>
	<div class='background-gradient absolute w-full h-full z-40 opacity-60'></div>
	<div class='w-full h-full absolute z-40'>
		<div class='cube'></div>
		<div class='cube'></div>
		<div class='cube'></div>
		<div class='cube'></div>
		<div class='cube'></div>
	</div>
	<div class='container mx-auto relative z-50'>
		<div class='text-center px-20 py-60 w-full md:w-8/12 mx-auto'>
			<h1 class='text-7xl font-bold uppercase mb-2'>WholeSome Sights</h1>
			<p>The #1 Application to Watch, Clip, and Share your Amazing WholeSome Moments with your Family, Friends, and the World! With our World-Class Tools, We Make it Incredibly Easy to Share your Videos. Get Started ToDay!</p>
		</div>
	</div>
</section>
<section class='container mx-auto'>
	<h1 class='uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest'>Latest</h1>
	<WS-list />
</section>